@import "reset";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "variables";
@import "Header";
@import "TopImg";
@import "grid";
@import "OurStory";
@import "SpecialMenu";
@import "Global";
@import "RandomQuote";
@import "ContactUs";
@import "Footer";
@import "Reviews";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans:400,700|Rozha+One');
body {
  font-family: $textFont;
  width: 100x;
  height: 100vh;
  overflow-x: hidden;
}
